name: OWASP ZAP Baseline Scan

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * 1"

permissions:
  contents: read
  issues: write

jobs:
  zap-baseline:
    runs-on: ubuntu-latest
    steps:
      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: "https://app01.inceptionu-webinar.com"
          token: ${{ secrets.GITHUB_TOKEN }}
          cmd_options: "--autooff"
          fail_action: true
